{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
  <main class="container">
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <form method="post" action="" class="form-signin pt-5">
          {% csrf_token %}
          <div class="text-center mt-5 mb-5 b-1">
            <h1 class="h3 mb-3 font-weight-normal">Джуманджи</h1>
            <p class="h5 font-weight-light">Создайте аккаунт</p>
          </div>
          
          <div class="form-label-group">
            <p class="text-muted">{{ form.username.label }}</p>
            <input type="text" id="id_{{ form.username.name }}" class="form-control" required autofocus name="{{ form.username.name }}">
            <label for="id_{{ form.username.name }}"></label>
          </div>

          <div class="form-label-group">
            <p class="text-muted">{{ form.first_name.label }}</p>
            <input type="text" id="id_{{ form.first_name.name }}" class="form-control" required autofocus name="{{ form.first_name.name }}">
            <label for="id_{{ form.first_name.name }}"></label>
          </div>

          <div class="form-label-group">
            <p class="text-muted">{{ form.last_name.label }}</p>
            <input type="text" id="id_{{ form.last_name.name }}" class="form-control" required autofocus name="{{ form.last_name.name }}">
            <label for="id_{{ form.last_name.name }}"></label>
          </div>

          <div class="form-label-group">
            <p class="text-muted">{{ form.password1.label }}</p>
            <input type="password" id="id_{{ form.password1.name }}" class="form-control" required autofocus name="{{ form.password1.name }}">
            <label for="id_{{ form.password1.name }}"></label>
          </div>

          <div class="form-label-group">
            <p class="text-muted">{{ form.password2.label }}</p>
            <input type="password" id="id_{{ form.password2.name }}" class="form-control" required autofocus name="{{ form.password2.name }}">
            <label for="id_{{ form.password2.name }}"></label>
          </div>

          {{ form.errors }}
          
          <div class="checkbox mb-3"></div>
          
          <button class="btn btn-primary btn-lg btn-block" type="submit">Зарегистрироваться</button>
        </form>

         <div class="mt-4 text-center"><p>Есть аккаунт? <a href="{% url 'login' %}">Войдите!</a></p></div>



      </div>
    </div>
  </main>
{% endblock %}